/* .table {
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
  color: currentColor;
}

tr,
th {
  padding: 8px;
  height: 64px;
  text-align: left;
  border: 1px solid blanchedalmond;
  text-align: left;
}

tr:hover {
  background-color: #1d1d1d;
}

th {
  background-color: #ececec;
} */