body {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;
  /*fuentes*/
  font-family: 'Poppins', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #171717;
  color: #35c2ff;
}

.blackHeader {
  height: 57px;
  background: transparent;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(64, 64, 64, 0.5);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header.hide {
  opacity: 0.5;
}

header nav {
  width: 80%;
  height: 57px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42x;
  font-weight: 500;
  color: whitesmoke;
}


header nav .title a img {
  margin-right: 6px;
}


header nav .title :hover {
  color: rgb(201, 212, 208);
}


header nav .title img {
  width: 120px;
}


nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #171717;
  color: #eee;
  margin: 0 4px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

/* Con hover, cambia el background color */
.dropbtn:hover {
  background-color: #1e1e1e;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #171717;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  margin-top: -4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #eee;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.pagination {
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #1e1e1e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

#dropdown-toggle-pacientes:checked+.dropbtn+.dropdown-content,
#dropdown-toggle-sales:checked+.dropbtn+.dropdown-content,
#dropdown-toggle-products:checked+.dropbtn+.dropdown-content,
#dropdown-toggle-usuarios:checked+.dropbtn+.dropdown-content {
  display: block;
}

.danger:hover,
.danger:focus {
  background-color: rgb(255, 99, 99);
  transition: border-color 0.25s;
}

.succes:hover,
.succes:focus {
  background-color: #60b3d6;
  color: #171717;
}


summary {
  list-style: none;
  cursor: pointer;
  position: relative;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}


details summary::before {
  content: "🪐";
  position: absolute;
  transition: transform 0.5s ease;
}

details[open] summary::before {
  transform: rotate(135deg);
}

summary div p {
  padding-left: 20px;
  padding-bottom: 3px;
  animation: fadeIn 1s forwards;
}

.center {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  float: none;
}

label {
  margin: 10px 0 5px;
  display: block;
  color: rgb(99, 221, 255);
}


#logo {
  width: 30%;
  font-size: 18px;
  float: left;
  margin-top: 42px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -17px;
  margin-right: 10px;
  animation: girar infinite 15s linear;
}

#logo1 {
  width: 10%;
  font-size: 18px;
  float: left;
  margin-top: 40px;
  margin-left: -180px;
}

#logo1 img {
  display: inline-block;
  height: 40px;
  margin-right: 0px;
  animation: girar infinite 15s linear;
}


#slider {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, #171717 0%, rgb(41, 41, 41) 0%, rgb(53, 53, 53) 83%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 350px;
  /*line-height: 320px;*/
  color: whitesmoke;
  text-shadow: 0px 0px 5px #444;
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  /* padding-top: 130px; */
  text-align: center;
}


#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  text-align: center;
}

#content {
  margin: 10px;
  /* width: 700px; */
  float: left;
  min-height: 565px;
}

#center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  /* background-image: url("../images/fondo-login.jpg"); */
}

.wrapper {
  width: 420px;
  margin: 20px 0;
  background-color: #171717;
  /* background: transparent; */
  color: #0080c9;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid #0080c9;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #0080c9;
  border-radius: 40px;
  font-size: 16px;
  color: #0080c9;
  padding: 20px 45px 20px 20px;
  font-weight: 600;
}

.input-box input::placeholder {
  color: #03a0e3;
}

.input-box .i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .boton {
  width: 100%;
  height: 45px;
  background: linear-gradient(90deg, #00d2ff 0%, #03a0e3 100%);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 3px 3px 6px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .boton:hover {
  background: #03a0e3;
}

textarea {
  height: 150px;
  outline: none;
}


#footer {
  background: f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}


#footer p {
  margin: 0px;
  padding: 0px;
}


.article-item {
  min-width: 650px;
  padding: 24px 8px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
}


.article-item:hover {
  background-color: #1e1e1e;
}


.article-item p {
  color: whitesmoke
}


.article-details {
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgHome {
  width: 150px;
  border-radius: 8px;
}


.subheader {
  font-size: 38px;
  border-bottom: 1px #ccc;
  padding-bottom: 10px;
}


.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}


.article-item .date {
  display: block;
  width: 100%;
  color: rgb(161, 159, 159);
}


.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}


.article-detail .img-wrap {
  float: none;
  width: 100%;
  height: 300px;
}


/* RESPONSIVE */
/* desde la anchura 0px hasta la anchura 1050px de pantalla*/
@media(max-width: 1050px) {
  .center {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .blackHeader {
    height: 105px;
  }

  .header {
    height: 105px;
    padding-top: 5px;
  }

  .title .logo-line {
    width: 96px;
  }


  .header nav {
    height: 100%;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav .title {
    margin: 0 5px;
  }

  .header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    float: left;
    margin-right: -5px;
  }

}


@media (max-width: 980px) {

  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }

  .formdentro form {
    overflow-y: scroll;
  }

  #logo {
    float: none;
    width: 100%;
    margin-top: 30px;
    margin-left: 70px;
  }

  #slider h1 {
    padding-top: 115px;
    /* font-size: 25px; */
  }

  .full-form {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .header {
    min-width: 350px;
  }

  header nav .menu {
    max-width: 699px;
    min-width: 600px;
    flex-wrap: wrap;
    justify-content: left;
  }
}

@media (max-width: 720px) {
  .article-details {
    flex-direction: column;
  }

  .services .article-item {
    min-width: 350px;
  }

}

@media (max-width: 644px) {

  #logo {
    width: 100%;
  }

}


@media (max-width: 580px) {

  /* se ejecutan estos estilos*/
  .subheader {
    font-size: 24px;
  }

  .article-item {
    font-size: 0.9em;
  }

  /* #sidebar {
    width: auto;
  } */

  #slider.slider-small {
    height: 80px;
  }


  .header nav {
    height: 80%;
    gap: 5px;
    justify-content: space-around;
  }

  .title .logo-line {
    width: 64px;
  }


  .header nav .menu {
    max-width: 330px;
    min-width: 330px;
  }

  .header {
    height: 125px;
    padding-top: 0;
  }

  .blackHeader {
    height: 125px;
  }

  .headermin {
    font-size: 0.8em;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .formpacienteP {
    margin: auto;
  }
}

@media (max-width: 265px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }


  #slider {
    height: 180px;
  }

  #slider h1 {
    font-size: 19px;
    padding-top: 30px;
  }

  #slider .btn-white {
    margin-top: 20px;
  }
}

.facebook-link:hover {
  color: #1877f2;
}


.youtube-link:hover {
  color: #ff0000;
}


.instagram-link:hover {
  color: #ff73b9;
}


.whatsapp-link:hover {
  color: #1fbd5b;
}


.email-link:hover {
  color: #ffa631;
}


.logo-line {
  width: 220px;
}


/* unicamente para el login */
.hidden {
  display: none;
}


.eliminated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.eliminated h2 {
  font-size: 1.5rem;
  color: #868686;
  margin-bottom: 20px;
  text-align: center;
}

body {
  --mx: 0;
  --my: 0;
  --a-x: calc(var(--mx) * 8px);
  --a-y: calc(var(--my) * 8px);
  --b-x: calc(var(--mx) * -6px);
  --b-y: calc(var(--my) * -6px);
  --c-x: calc(var(--mx) * 4px);
  --c-y: calc(var(--my) * 4px);

  background:
    repeating-linear-gradient(45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #100f0f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #100f0f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #100f0f 0 calc(300% / 13)) calc(0px + var(--c-x)) calc(0px + var(--c-y)),
    repeating-linear-gradient(45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #100f0f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #100f0f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #100f0f 0 calc(300% / 13)) calc(32px + var(--a-x)) calc(32px + var(--a-y)),
    repeating-linear-gradient(-45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #100f0f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #100f0f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #100f0f 0 calc(300% / 13)) calc(0px + var(--b-x)) calc(0px + var(--b-y)),
    repeating-linear-gradient(-45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #100f0f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #100f0f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #100f0f 0 calc(300% / 13)) calc(32px + var(--a-x)) calc(32px + var(--a-y)) #1e1e1e;

  background-size: 64px 64px;
  width: 100%;
  height: 100%;
}